extends layout.pug

block content
  .hero.is-primary
    .hero-body      
      each value in body
        .card
          .card-image
            figure.image.is-4by3
              img(src= value.image alt= value.brand)
          .card-content
            .media
              .media-content                
                  p.title.is-4.has-text-black= value.brand
                  p.subtitle.is-6.has-text-black= value.name
            .content
              .media-right
                p= value.description
                p= value.size
                p= value.stock
                br
                p= value.date